extends partials/layout.pug

block content
  .about-container.container
    h2 About
    p Full-Stack voting application for Free Code Camp back end certificate.
    p Check out the code on Github here
    span
      a(href="http://codepen.io/rzencoder/")
        img(src="public/img/codepen-icon.png")
      a(href="https://github.com/rzencoder")
        img(src="public/img/gh-mark-32px.png")
