extends partials/layout.pug

block content
  .container
    h2 Latest Polls
    ul.list
  script(type="text/javascript" src="common/ajax-functions.js")
  script(type="text/javascript" src="controllers/displayPoll.js")
