extends partials/layout.pug

block content
  .chart-container
    h2.question
    p.message
    div
      .poll-container      
        ul.options.list
        if (user)
          .add-option-container
            button.add-option.btn.btn-action-black Add New Option
      .chart
    a(href="/polls")
      button.btn.btn-back Back to Polls
            
  script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js')
  script(type="text/javascript" src="../../../common/cookies.js")    
  script(type="text/javascript") var data = !{JSON.stringify(data)};
  script(type="text/javascript") var user = !{JSON.stringify(user)};
  script(type="text/javascript" src="../controllers/getPoll.js")
