/* line 9, ../../styles/sass/main.scss */
html {
  background: #7edbd3;
  font-size: 20px;
}
@media (max-width: 600px) {
  /* line 9, ../../styles/sass/main.scss */
  html {
    font-size: 16px;
  }
}

/* line 17, ../../styles/sass/main.scss */
body {
  font-family: "Roboto", sans-serif;
  color: white;
}

/* General Rules */
/* line 22, ../../styles/sass/main.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 27, ../../styles/sass/main.scss */
h1 {
  font-family: "Roboto Slab", serif;
  color: #002e37;
  font-size: 3rem;
  font-weight: 700;
}

/* line 34, ../../styles/sass/main.scss */
h2 {
  font-family: "Roboto Slab", serif;
  color: #002e37;
  font-size: 2rem;
  font-weight: 700;
}

/* line 41, ../../styles/sass/main.scss */
h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: #002e37;
  border-bottom: solid 3px #002e37;
}

/* line 48, ../../styles/sass/main.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nav Bar */
/* line 54, ../../styles/sass/main.scss */
nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 550px) {
  /* line 54, ../../styles/sass/main.scss */
  nav {
    font-size: 1.3rem;
  }
}

/* line 69, ../../styles/sass/main.scss */
.logo {
  display: flex;
  height: 100%;
  align-items: center;
}
/* line 74, ../../styles/sass/main.scss */
.logo p {
  padding-left: 20px;
}
@media (max-width: 550px) {
  /* line 74, ../../styles/sass/main.scss */
  .logo p {
    padding-left: 5px;
  }
}

/* line 98, ../../styles/sass/main.scss */
.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background: #002e37;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.3rem;
}
/* line 106, ../../styles/sass/main.scss */
.header p {
  padding: 0 0 0 15px;
  margin: 0;
  font-size: 1.6rem;
}

/* line 113, ../../styles/sass/main.scss */
.header-container {
  width: 80%;
  margin: 0 auto;
}

/* line 118, ../../styles/sass/main.scss */
.nav {
  overflow: hidden;
  display: block;
  margin: auto 0;
  width: 100%;
}
/* line 123, ../../styles/sass/main.scss */
.nav .icon {
  display: none;
  cursor: pointer;
}
/* line 127, ../../styles/sass/main.scss */
.nav a {
  float: right;
  display: block;
  text-align: center;
  padding: 0;
  color: white;
  margin: 15px 20px;
}
/* line 134, ../../styles/sass/main.scss */
.nav a:hover {
  color: #00839d;
}
/* line 138, ../../styles/sass/main.scss */
.nav a:first-child {
  float: left;
  margin: 10px;
}

@media (max-width: 800px) {
  /* line 146, ../../styles/sass/main.scss */
  .header-container {
    width: 100%;
  }

  /* line 149, ../../styles/sass/main.scss */
  .nav a:not(:first-child) {
    display: none;
    padding: 10px 0;
    margin: 0;
  }

  /* line 154, ../../styles/sass/main.scss */
  .nav a.icon {
    position: absolute;
    display: block;
    right: 10px;
    top: 2px;
    font-size: 1.8rem;
  }

  /* line 161, ../../styles/sass/main.scss */
  .nav.header-mobile {
    position: relative;
  }

  /* line 164, ../../styles/sass/main.scss */
  .nav.header-mobile a {
    float: none;
    display: block;
    text-align: center;
  }

  /* line 169, ../../styles/sass/main.scss */
  .nav.header-mobile a:first-child {
    text-align: left;
  }

  /* line 172, ../../styles/sass/main.scss */
  .nav.header-mobile a:not(:first-child) {
    background: #1D6774;
  }

  /* line 175, ../../styles/sass/main.scss */
  .nav.header-mobile a.icon {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.8rem;
    background: #002e37;
  }
}
/*Buttons*/
/* line 185, ../../styles/sass/main.scss */
.btn {
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-weight: 700;
}
/* line 194, ../../styles/sass/main.scss */
.btn:hover {
  cursor: pointer;
  background: #00839d;
}

/* line 200, ../../styles/sass/main.scss */
.btn-action-red {
  background: #f53638;
  display: inline-block;
}
/* line 204, ../../styles/sass/main.scss */
.btn-action-red:hover {
  background: #f76768;
}

/* line 209, ../../styles/sass/main.scss */
.btn-action-black {
  background: #2b2b2b;
}
/* line 212, ../../styles/sass/main.scss */
.btn-action-black:hover {
  background: #454545;
}

/* line 217, ../../styles/sass/main.scss */
.gh-btn {
  display: flex;
  align-items: center;
  font-weight: 400;
}
/* line 222, ../../styles/sass/main.scss */
.gh-btn p {
  margin: 0 0 0 10px;
}
@media (max-width: 500px) {
  /* line 217, ../../styles/sass/main.scss */
  .gh-btn {
    width: 230px;
  }
}

/* line 230, ../../styles/sass/main.scss */
.latest {
  font-weight: 400;
}

/* line 234, ../../styles/sass/main.scss */
.del-btn {
  margin: 0 0 0 10px;
}

/* line 238, ../../styles/sass/main.scss */
.send-btn {
  width: 40%;
}

/* line 242, ../../styles/sass/main.scss */
.add-option {
  background: #002e37;
  width: 60%;
}

/* line 247, ../../styles/sass/main.scss */
.logout {
  margin-left: 15px;
}

/* line 251, ../../styles/sass/main.scss */
.btn-back {
  background: #002e37;
  margin: 10px;
}

/*Container*/
/* line 257, ../../styles/sass/main.scss */
.container {
  width: 75%;
  margin: 50px auto;
}
@media (max-width: 870px) {
  /* line 257, ../../styles/sass/main.scss */
  .container {
    width: 90%;
  }
}

/*Index Page*/
/* line 265, ../../styles/sass/main.scss */
.index-container {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
@media (max-width: 850px) {
  /* line 265, ../../styles/sass/main.scss */
  .index-container {
    width: 90%;
  }
}

/* line 276, ../../styles/sass/main.scss */
.home-container {
  width: 50%;
  font-size: 1.5rem;
  color: #002e37;
}
@media (max-width: 500px) {
  /* line 276, ../../styles/sass/main.scss */
  .home-container {
    width: 90%;
  }
}
/* line 284, ../../styles/sass/main.scss */
.home-container h4 {
  margin-top: -20px;
}
@media (max-width: 500px) {
  /* line 284, ../../styles/sass/main.scss */
  .home-container h4 {
    margin-top: 0;
  }
}

/* line 292, ../../styles/sass/main.scss */
.button-container {
  display: flex;
  flex-direction: column;
}

/* line 297, ../../styles/sass/main.scss */
.image-container {
  margin-top: 80px;
  width: 50%;
}
@media (max-width: 850px) {
  /* line 301, ../../styles/sass/main.scss */
  .image-container img {
    width: 250px;
    height: 190px;
  }
}
@media (max-width: 500px) {
  /* line 301, ../../styles/sass/main.scss */
  .image-container img {
    display: none;
  }
}

/*Newpoll Page*/
/* line 312, ../../styles/sass/main.scss */
.newpoll-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
/* line 317, ../../styles/sass/main.scss */
.newpoll-form label {
  color: #002e37;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 0;
}
/* line 324, ../../styles/sass/main.scss */
.newpoll-form input {
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
}

/*Polls Page*/
/* line 331, ../../styles/sass/main.scss */
.list > a > li {
  background: #002e37;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  margin: 10px 0;
}
/* line 339, ../../styles/sass/main.scss */
.list > a > li:hover {
  background: #00839d;
}

/*Poll Result Page*/
/* line 344, ../../styles/sass/main.scss */
.chart-container {
  width: 100%;
}
/* line 347, ../../styles/sass/main.scss */
.chart-container h2 {
  font-size: 2rem;
  text-align: center;
}
/* line 352, ../../styles/sass/main.scss */
.chart-container > div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  /* line 352, ../../styles/sass/main.scss */
  .chart-container > div {
    flex-direction: column;
  }
}

/* line 363, ../../styles/sass/main.scss */
.poll-container {
  width: 40%;
}
@media (max-width: 500px) {
  /* line 363, ../../styles/sass/main.scss */
  .poll-container {
    width: 100%;
  }
}

/* line 371, ../../styles/sass/main.scss */
.answer > li {
  cursor: pointer;
}

/* line 375, ../../styles/sass/main.scss */
.poll-answer:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

/* line 379, ../../styles/sass/main.scss */
.add-option {
  width: 220px;
  background: #2b2b2b;
  margin: 5px 0;
}

/* line 385, ../../styles/sass/main.scss */
.add-option-form {
  margin: 10px 0;
}
/* line 388, ../../styles/sass/main.scss */
.add-option-form input {
  font-size: 1.2rem;
}

/* line 393, ../../styles/sass/main.scss */
.message {
  background: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px;
  height: 24px;
}

/* line 401, ../../styles/sass/main.scss */
.chart {
  height: 400px;
  width: 50%;
}
@media (max-width: 500px) {
  /* line 401, ../../styles/sass/main.scss */
  .chart {
    width: 100%;
    order: 1;
  }
}

/*Profile Page*/
/* line 411, ../../styles/sass/main.scss */
.profile-container h2 {
  font-size: 1.5rem;
}
/* line 415, ../../styles/sass/main.scss */
.profile-container p.username {
  color: #002e37;
  font-size: 36px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: solid 3px #002e37;
}

/* line 424, ../../styles/sass/main.scss */
.poll-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 430, ../../styles/sass/main.scss */
.profile-list > li > a > p {
  background: #002e37;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
}
/* line 440, ../../styles/sass/main.scss */
.profile-list > li > a > p:hover {
  background: #00839d;
}

/*Login Page*/
/* line 445, ../../styles/sass/main.scss */
.login-container {
  display: flex;
  justify-content: space-around;
}
/* line 449, ../../styles/sass/main.scss */
.login-container h2 {
  margin-bottom: 60px;
}

@media (max-width: 750px) {
  /* line 454, ../../styles/sass/main.scss */
  .ballot-img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 450px) {
  /* line 454, ../../styles/sass/main.scss */
  .ballot-img {
    display: none;
  }
}

/*About Page*/
/* line 465, ../../styles/sass/main.scss */
.about-container h2 {
  margin-bottom: 50px;
}
/* line 469, ../../styles/sass/main.scss */
.about-container p {
  color: #002e37;
}
/* line 473, ../../styles/sass/main.scss */
.about-container span {
  margin-top: 30px;
}
/* line 477, ../../styles/sass/main.scss */
.about-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
