$main-color: #002E37;
$main-hover: lighten($main-color, 20%);
$bg-color: #7EDBD3;
$btn-red: #F53638;
$btn-black: #2b2b2b;
$serif-font: 'Roboto Slab', serif;
$sans-font: 'Roboto', sans-serif;

html {
  background: $bg-color;
  font-size: 20px;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

body {
  font-family: $sans-font;
  color: white;
}
/* General Rules */
a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: $serif-font;
  color: $main-color;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: $serif-font;
  color: $main-color;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-family: $serif-font;
  font-size: 1.5rem;
  color: $main-color;
  border-bottom: solid 3px $main-color;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Nav Bar */
nav {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $serif-font;
  font-size: 1.5rem;
  font-weight: 700;
  @media (max-width: 550px) {
    font-size: 1.3rem;
  }
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;

  p {
    padding-left: 20px;
    @media (max-width: 550px) {
      padding-left: 5px;
    }
  }

}

$base-text-color: #230903;
$base-text-color-hover: lighten($base-text-color, 10%);
$second-text-color: #ddb967;
$second-text-color-hover: darken($second-text-color, 15%);

$bg-color: #590e0e;
$bg-color-hover: lighten($bg-color, 10%);
$btn-action-color: #A7C6DA;
$btn-action-color-hover: darken($btn-action-color, 15%);
$bookcase-frame:  #110401;


$base-font: 'Pridi', serif;
$heading-font: 'Tomb_Raider', sans-serif;

.header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background: $main-color;
  font-family: $serif-font;
  font-weight: 700;
  font-size: 1.3rem;
  p {
    padding: 0 0 0 15px;
    margin: 0;
    font-size: 1.6rem;
  }
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

.nav {
  overflow: hidden;
  display: block;
  margin: auto 0;
  width: 100%;
  .icon {
    display: none;
    cursor: pointer;
  }
  a {
    float: right;
    display: block;
    text-align: center;
    padding: 0;
    color: white;
    margin: 15px 20px;
    &:hover {

      color: $main-hover;
    }
    &:first-child {
      float: left;
      margin: 10px;
    }
  }
}

@media (max-width: 800px) {
  .header-container {
    width: 100%;
  }
 .nav a:not(:first-child) {
    display: none;
    padding: 10px 0;
    margin: 0;
 }
 .nav a.icon {
    position: absolute;
    display: block;
    right: 10px;
    top: 2px;
    font-size: 1.8rem;
  }
  .nav.header-mobile {
    position: relative;
  }
  .nav.header-mobile a {
    float: none;
    display: block;
    text-align: center;
  }
  .nav.header-mobile a:first-child {
    text-align: left;
  }
  .nav.header-mobile a:not(:first-child){
    background: #1D6774;
  }
  .nav.header-mobile a.icon {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.8rem;
    background: $main-color;
  }
}

/*Buttons*/
.btn {
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  margin-top: 10px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    background: $main-hover;
  }
}

.btn-action-red {
  background: $btn-red;
  display: inline-block;

  &:hover {
    background: lighten($btn-red, 10%);
  }
}

.btn-action-black {
  background: $btn-black;

  &:hover {
    background: lighten($btn-black, 10%);
  }
}

.gh-btn {
  display: flex;
  align-items: center;
  font-weight: 400;

  p {
    margin: 0 0 0 10px;
  }
  @media (max-width: 500px) {
    width: 230px;
  }
}

.latest {
  font-weight: 400;
}

.del-btn {
  margin: 0 0 0 10px;
}

.send-btn {
  width: 40%;
}

.add-option {
  background: $main-color;
  width: 60%;
}

.logout {
  margin-left: 15px;
}

.btn-back {
  background:$main-color;
  margin: 10px;
}

/*Container*/
.container {
  width: 75%;
  margin: 50px auto;
  @media (max-width: 870px) {
    width: 90%;
  }
}
/*Index Page*/
.index-container {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  @media (max-width: 850px) {
    width: 90%;
  }
}

.home-container {
  width: 50%;
  font-size: 1.5rem;
  color: $main-color;
  @media (max-width: 500px) {
    width: 90%;
  }

  h4 {
    margin-top: -20px;
    @media (max-width: 500px) {
      margin-top: 0;
    }
  }
}

.button-container {
  display: flex;
  flex-direction: column;
}

.image-container {
  margin-top: 80px;
  width: 50%;

  img {
    @media (max-width: 850px) {
      width: 250px;
      height: 190px;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }
}
/*Newpoll Page*/
.newpoll-form {
  display: flex;
  flex-direction: column;
  width: 300px;

  label {
    color: $main-color;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 0;
  }

  input {
    border-radius: 5px;
    height: 30px;
    margin-bottom: 10px;
  }
}
/*Polls Page*/
.list > a > li {
  background: $main-color;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  margin: 10px 0;

  &:hover {
    background: $main-hover;
  }
}
/*Poll Result Page*/
.chart-container {
  width: 100%;

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  > div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
}

.poll-container {
  width: 40%;
  @media (max-width: 500px) {
    width: 100%;

  }
}

.answer > li {
  cursor: pointer;
}

.poll-answer:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.add-option {
  width: 220px;
  background: $btn-black;
  margin: 5px 0;
}

.add-option-form {
  margin: 10px 0;

  input {
    font-size: 1.2rem;
  }
}

.message {
  background: none;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px;
  height: 24px;
}

.chart {
  height: 400px;
  width: 50%;
  @media (max-width: 500px) {
    width: 100%;
    order: 1;
  }
}
/*Profile Page*/
.profile-container {
  h2 {
    font-size: 1.5rem;
  }

  p.username {
    color: $main-color;
    font-size: 36px;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: solid 3px $main-color;
  }
}

.poll-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-list > li > a > p {
  background: $main-color;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;

  &:hover {
    background: $main-hover;
  }
}
/*Login Page*/
.login-container {
  display: flex;
  justify-content: space-around;

  h2 {
    margin-bottom: 60px;
  }
}

.ballot-img {
  @media (max-width: 750px) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 450px) {
    display: none;
  }
}
/*About Page*/
.about-container {
  h2 {
    margin-bottom: 50px;
  }

  p {
    color: $main-color;
  }

  span {
    margin-top: 30px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}
